@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
/* common shared styles  */
:root {
  --primaryColor: #fd6e0a;
}
.primary-color {
  color: var(--primaryColor);
}
.btn-primary {
  border-radius: 5px;
  background: var(--primaryColor);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
  border: none;
  outline: none;
}
.section-title {
  color: black;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin-block: 30px;
}

/* header  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 200px;
}
nav h3 {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}

nav ul a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

/* header related styles  */
.header {
  padding-top: 50px;
  background: #fff8f3;
  background-image: url("./images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  max-width: 500px;
}
.banner-greeting {
  color: #474747;
  font-size: 45px;
}
.banner-title {
  color: black;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  font-size: 18px;

  margin-bottom: 30px;
}
.banner .profile-pic {
  width: 500px;
}

/* main section styles  */

/* about section styles  */
main {
  max-width: 1140px;
  margin-inline: auto;
}
.about {
  background: #fff8f3;
  border-radius: 10px;
  margin-block: 130px;
  padding: 130px 156px;
}
.about-info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-info {
  text-align: center;
}
.info-title {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.info-description {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

/* what i do  */
.what-i-do {
  margin-bottom: 130px;
}
#what-i-do-description {
  padding: 30px 150px;
}

.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px 33px;
}
.skill-title {
  margin-block: 20px;
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}
.skill-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

/* resume section styles  */
.resume-container {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 113px;
}
.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-item {
  border-bottom: 1px solid #d1d1d1;
}
.resume-item:last-child {
  border-bottom: none;
}
.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}
.resume-item-institute {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.resume-item-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
